@page
@model HortifrutiWebApp.Pages.ShoppingCartModel
@{
	ViewData["Title"] = "Carrinho de Compras";
}

<div class="card">
	<div class="card-header bg-danger text-light">
		<div class="row">
			<div class="col-8">
				<h4 class="m-0">
					<svg class="bi" width="24" height="24" fill="currentColor">
						<use xlink:href="/icons.svg#cart3" />
					</svg>
					@ViewData["Title"]
				</h4>
			</div>
			<div class="col-4 text-right">
				<a asp-page="/Index" class="btn btn-outline-light btn-sm pull-right">Continuar Comprando</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		@if ((Model.Order != null) && (Model.Order.OrderItems.Count > 0))
		{
			@foreach (var item in Model.Order.OrderItems)
			{
				var imageFilePath = System.IO.Path.Combine("/img/product/", item.ProductId.ToString("D6") + ".jpg");

				<div class="row" id="@($"divItem{item.ProductId}")">
					<div class="col-sm-3 col-md-2 text-center mb-2 mb-sm-0">
						<img class="img-thumbnail" src="@imageFilePath" />
					</div>
					<div class="col-sm-9 col-md-4 col-lg-5 text-left">
						<h4 class="product-name"><strong>@item.Product.Name</strong></h4>
						<h4><small>@item.Product.Descrition</small></h4>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-5">
						<div class="row">
							<div class="col-4 text-md-right pt-2 text-right">
								<h6>
									<strong id="@($"valorUnit{item.ProductId}")">R$ @item.UnitaryValue.ToString("F2")</strong><b><span class="text-muted"> x</span></b>
								</h6>
							</div>
							<div class="col-5">
								<div name="@item.ProductId">
									<input type="number" step="1" max="99" min="1" value="@item.Quantity" title="Quantidade"
										   class="px-1 input-spinner" name="@item.ProductId" />
								</div>
							</div>
							<div class="col-3 text-right">
								<button type="button" class="btn btn-outline-danger btn-xs btn-del" name="@item.ProductId">
									<svg class="bi" width="24" height="24" fill="currentColor">
										<use xlink:href="/icons.svg#trash" />
									</svg>
								</button>
							</div>
							<div class="col-9 mr-auto text-right mt-1 text-muted">
								<b id="@($"itemValue{item.ProductId}")">R$ @item.ItemValue.ToString("F2")</b>
							</div>
						</div>
					</div>
				</div>
				<hr id="@($"sepItem{item.ProductId}")">
			}
		}
		else
		{
			<h3>Seu carrinho de compras está vazio.</h3>
		}
	</div>
	<div class="card-footer text-right">
		<div class="pull-right">
			<div class="pull-right mb-2">
				Valor Total: <b id="amount">R$ @(Model.Amount.ToString("F2"))</b>
			</div>
		</div>
		@if (Model.Order?.OrderItems?.Count > 0)
		{
			<a asp-page="/ConfirmOrder" class="btn btn-success pull-right">Fechar Pedido</a>
		}
	</div>
</div>

@section Scripts{
	<script src="~/lib/bootstrap-input-spinner.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script>
		$("input[type='number']").inputSpinner();
		$(".input-spinner").change(function () {
			var qtde = $(this).val();
			var prod = $(this).attr("name");

			$.post("/api/ShoppingCartAPI/UpdateCartItem",
				{
					cartId: Cookies.get("@Model.COOKIE_NAME"),
					productId: prod,
					quantity: qtde
				},
				function (data, status) {
					if (status == "success") {
						if (!data) return;
						$("#amount").text(data.v.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
						var idValorItem = "#itemValue" + data.item.id;
						$(idValorItem).text(data.item.v.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
					}
				}
			);
		});

		$(".btn-del").click(function () {
			var prod = $(this).attr("name");

			$.post("/api/ShoppingCartAPI/DeleteCartItem",
				{
					cartId: Cookies.get("@Model.COOKIE_NAME"),
					productId: prod
				},
				function (data, status) {
					if (status == "success") {
						if (!data) return;
						$("#amount").text(data.v.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
						$("#divItem" + data.id).remove();
						$("#sepItem" + data.id).remove();
						if ($(".btn-del").length == 0) window.location.pathname = "/ShoppingCart";
					}
				}
			);
		});
	</script>
}
