@page
@model HortifrutiWebApp.Pages.AdminModel
@{
	ViewData["Title"] = "Área Administrativa";
	Layout = "_BackTemplate";
}

<header class="container p-3">
	<h1>Pedidos Pendentes</h1>
</header>

@if (Model.Orders.Count > 0)
{
	<main class="container">
		<table class="table table-striped table-light table-sm table-hover">
			<thead>
				<tr class="bg-dark text-white">
					<th>@Html.DisplayNameFor(x => x.Orders[0].OrderId)</th>
					<th>@Html.DisplayNameFor(x => x.Orders[0].Client.Name)</th>
					<th>@Html.DisplayNameFor(x => x.Orders[0].Amount)</th>
					<th>@Html.DisplayNameFor(x => x.Orders[0].DateTimeOrder)</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Orders)
				{
					<tr>
						<td>@item.OrderId.ToString("D6")</td>
						<td>@item.Client.Name</td>
						<td>@item.Amount.ToString("C")</td>
						<td>@item.DateTimeOrder.ToString()</td>
						<td class="text-center">
							<a class="btn btn-warning btn-sm p-1" asp-page="./Orders/Details"
							   asp-route-id="@item.OrderId" title="Itens do Pedido" data-toggle="tooltip">
								<svg class="bi" width="20" height="20" fill="currentColor">
									<use xlink:href="/icons.svg#list-check" />
								</svg>
							</a>
							<a class="btn btn-primary btn-sm p-1" asp-page="./Orders/OrderEdit"
							   asp-route-id="@item.OrderId" title="Alterar Pedido" data-toggle="tooltip">
								<svg class="bi" width="20" height="20" fill="currentColor">
									<use xlink:href="/icons.svg#pencil-square" />
								</svg>
							</a>
							<form class="d-inline-block" asp-page-handler="CancelOrder" asp-route-id="@item.OrderId" method="post"
								  title="Cancelar Pedido" data-toggle="tooltip">
								<button class="btn btn-danger btn-sm p-1" onclick="confirmCancellation(this);" type="button">
									<svg class="bi" width="20" height="20" fill="currentColor">
										<use xlink:href="/icons.svg#x-square" />
									</svg>
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</main>
}
else
{ <h2>Não há pedidos realizados.</h2>}

@section Scripts{
	@{await Html.RenderPartialAsync("_CustomConfirm");}
}