@page
@model HortifrutiWebApp.Pages.Clients.IndexModel
@{
	ViewData["Title"] = "Clientes";
}

<header class="container p-3">
	<div class="row align-items-center">
		<div class="col-sm-6"><h1>@ViewData["Title"]</h1></div>
		<div class="col-sm-6 text-right"><a asp-page="Create" class="btn btn-primary">Novo Cliente</a></div>
	</div>
</header>

<main class="container">
	@if (Model.Clients.Count() > 0)
	{
		<table class="table">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(x => x.Clients[0].Name)</th>
					<th>@Html.DisplayNameFor(x => x.Clients[0].Cpf)</th>
					<th>@Html.DisplayNameFor(x => x.Clients[0].Email)</th>
					<th>@Html.DisplayNameFor(x => x.Clients[0].Phone)</th>
					<th>@Html.DisplayNameFor(x => x.Clients[0].Birthday)</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Clients)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.LastName)</td>
						<td>@Html.DisplayFor(modelItem => item.Cpf) <!--, "_CustomCPF"--></td>
						<td>@Html.DisplayFor(modelItem => item.Email)</td>
						<td>@Html.DisplayFor(modelItem => item.Phone)</td>
						<td>@Html.DisplayFor(modelItem => item.Birthday)</td>
						<td class="text-center">
							<a class="btn btn-primary btn-sm" asP-page="Edit" asp-route-id="@item.ClientId"><i class="fi-xnsuxl-edit-solid"></i></a>
							<form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.ClientId"
								  method="post">
								<button class="btn btn-danger btn-sm" onclick="confirmDelete(this);" type="button">
									<i class="fi-xnsuxl-trash-bin"></i>
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h2>Não há clientes cadastrados.</h2>
	}
</main>

@section Scripts{
	@{ await Html.RenderPartialAsync(@"_CustomConfirm.cshtml");}
}